@model ElectronicWEB.Models.NHANVIEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADMIN.TenLOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN.TenLOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SĐT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SĐT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luong)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
