@model List<ElectronicWEB.Models.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script src="~/Scripts/cartController.js"></script>
}
<div class="content">
    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã Sản Phẩm</td>
                        <td>Tên Sản Phẩm</td>
                        <td>Ảnh </td>
                        <td>Số lượng</td>
                        <td>Đơn giá</td>
                        <td>Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @item.Product.MaSP
                        </td>
                        <td>
                            @item.Product.TenSP
                        </td>
                        <td>
                            <img src="/Content/@item.Product.Photo" width="100" />
                        </td>
                        <td>
                            <input type="text" class="txtQuantity" data-id="@item.Product.MaSP" value="@item.Quantity" />
                        <td>
                            @item.Product.Gia.GetValueOrDefault(0).ToString("N0")
                        </td>
                        <td>@((item.Product.Gia.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>
                        <td><a href="#" data-id="@item.Product.MaSP" class="btn-delete">Xoá</a></td>
                    </tr>
                    }

                    </tbody>
            </table>

            <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
            <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
            <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
            <button id="btnPayment" class="btn">Thanh toán</button>
        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }

    </div>
</div>
